body {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto;
  height: 100%;
  width: 100%;
  text-rendering: optimizeLegibility;
  @include media-breakpoint-down(lg) {
    @include fluid-type(font-size, $minScreenMobile, $maxScreenMobile, $minFont, $maxFont);
  }
  @include media-breakpoint-up(lg) {
    @include fluid-type(font-size, $minScreen, $maxScreen, $minFont, $maxFont);
  }
}
 
