header{
	#menuToggle
	{
		display: block;
		position: relative;
		z-index: 1;
		-webkit-user-select: none;
		user-select: none;

		a{
			text-decoration: none;
			color: #232323;
			transition: color 0.3s ease;
			&:hover
			{
				color: tomato;
			}
		}

		input{
			display: block;
			width: 40px;
			height: 32px;
			position: absolute;
			top: -7px;
			left: -5px;

			cursor: pointer;

			opacity: 0; /* hide this */
			z-index: 2; /* and place it over the hamburger */

			-webkit-touch-callout: none;

			&:checked ~ span
			{
				opacity: 1;
				transform: rotate(-45deg) translate(-2px, -2px);
				background: #232323;

				&:nth-last-child(3){
					opacity: 0;
					transform: rotate(0deg) scale(0.2, 0.2);
				}
				&:nth-last-child(3){
					opacity: 0;
					transform: rotate(0deg) scale(0.2, 0.2);
				}
				&:nth-last-child(2){
					transform: rotate(45deg) translate(-10px, -7px);
				}
			}
		}

		span{
			display: block;
			width: 33px;
			height: 4px;
			margin-bottom: 5px;
			position: relative;

			background: #cdcdcd;
			border-radius: 3px;

			z-index: 1;

			transform-origin: 4px 0px;

			transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
			background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
			opacity 0.55s ease;
			&:first-child{
				transform-origin: 0% 0%;
			}
			&:nth-last-child(2){
				transform-origin: 0% 100%;
			}
		}

	}


}
