/*
 ** $size: font size
 ** $lh: line height
 ** $colour: Font color
 ** $weight: font-weight
 ** $font-family: font-family;
 ** $ls: Letter spacing
 ** $tt: test-transform
  ** Usage:  @include font-style(65px, 100%, #ffffff, 700, $Futura-bold, 1px, 'uppercase');
*/

@mixin font-style($size: false, $lh: false, $colour: false, $weight: false,   $font-family: false,  $ls: false, $tt:false) {
    @if $size { font-size: $size; }
    @if $lh { line-height: $lh; }
    @if $colour { color: $colour; }
    @if $weight { font-weight: $weight; }
    @if $font-family { font-family: $font-family, Helvetica, Arial, sans-serif; }
    @if $ls { letter-spacing: $ls; }
    @if $tt { text-transform: $tt; }
}

/*
 ** $border-size: px value
 ** $border-color: border color value
 ** $border-type: "solid", "dashed", etc.
 ** $border-radius: px value
 ** $border-direction: top, left, bottom, right;
 ** Usage:         @include border(1px, solid, red, 0)
*/
@mixin border($border-size: false, $border-type: false, $border-color: false,  $border-radius: false, $border-direction: false ) {
    @if $border-direction {  border-#{$border-direction}:$border-size $border-type $border-color; }
    @else{ border: $border-size $border-type $border-color ; }
    @if $border-radius{ border-radius: $border-radius }
}


/** 
** $borderColor:   Button border color
** $hoverColor:    Hover background color
** $hoverText:     Hover text color
** Usage:         @include button('')
**/
@mixin button($borderColor, $hoverColor: false, $hoverText: false){
  border-radius: 3px;
  border: 1px solid $borderColor!important;
  cursor: pointer;
  padding: 0.625rem 2.5rem;
  transition:0.5s;
  background-image: none;
  &:hover{
    opacity:1;
    background: none;
    @if $hoverColor { background-color: $hoverColor; }
    @if $hoverText {  color: $hoverText; }
    transition:0.5s;
  }
}

/**
**
** Font convertion from PX to REM
** usage: convertPxToRem(int)
**
**
*****/

$rootFont: 16;

@mixin fluid-type($properties, $min-vw, $max-vw, $min-value, $max-value) {
  & {
    @each $property in $properties {
      #{$property}: $min-value;
    }

    @media screen and (min-width: $min-vw) {
      @each $property in $properties {
        #{$property}: calc(#{$min-value} + #{strip-unit($max-value - $min-value)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
      }
    }

    @media screen and (min-width: $max-vw) {
      @each $property in $properties {
        #{$property}: $max-value;
      }
    }
  }
}

@function strip-unit($value) {
  @return math.div($value, ($value * 0 + 1)) ;
}

@function convertPxToRem($px) {
  $remFormula: math.div( (math.div($px, $rootFont) ), strip-unit($maxFont) )  + rem;
  @return $remFormula;
}



//Usage: @include placeholder{ [your-styles] }
@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content} 
  :-ms-input-placeholder      {@content}  
}


/**
** Header Mixin
** usage:
** style h1-h3
** @include headings(1,3){ [STYLE GOES HERE] }
**
** style h4 only
**  @include headings(43){ [STYLE GOES HERE] }
**/

@mixin headings($from: 1, $to: 6){
  @for $i from $from through $to{
    h#{$i}{
      @content
    }
  }
}