/* PX TO REM conversion variable*/
$baseline: 1rem;

$minScreen: 48.0625rem; /*768px*/
$maxScreen: 120rem; /*1920x*/
$minFont: 1rem;
$maxFont: 1.5rem;

/*If you want to use REM conversion in mobile*/
$minScreenMobile: 23.4375rem;
$maxScreenMobile: 62rem;
$minFontMobile: 1rem;
$maxFontMobile: 1rem;