.error404{
	h1{
		font-size: 230px;
		line-height: 100%;
		font-weight: 700;
		margin-bottom: 0;
	}
	h3{
		font-size: 30px;
		font-weight: 700;

	}
	h2{
		font-size: 52px;
		margin-bottom: 100px;
	}

}
